# Node modules
/node_modules/

# Environment variables
.env

# API key file
keys.txt

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# Vercel / build
.vercel/

# Coverage
/coverage