body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Poppins", sans-serif;
    color: #fff;
    background: #343434;
}

.container {
    width: 26%;
    min-width: 300px;
}

.card {
    background: #343434;
    border-radius: 50px;
    box-shadow: 5px 5px 10px #191b1b,
                -5px -5px 10px #595959;
    padding: 30px;
    text-align: center;
}

/* Location */
.card h2 {
    margin: 10px 0;
    font-weight: 500;
}

/* Weather Description */
#weather {
    text-transform: capitalize;
    margin-bottom: 10px;
    color: #bfbfbf;
}

/* Temperature */
.card h4 {
    font-size: 4rem;
    font-weight: 400;
    margin: 1rem 0;
}

/* Weather Icon */
#icon {
    width: 80px;
    margin: 10px 0;
}

/* Refresh Button */
button.refresh {
    display: block;
    width: 100px;
    margin: 20px auto;
    background: transparent;
    border: none;
    color: #9c9c9d;
    font-size: 30px;
    height: 100px;
    border-radius: 50%;
    box-shadow: 10px 4px 10px #252525,
                5px 5px 18px #4a4a4a;
    cursor: pointer;
    transition: 0.3s ease;
}

button.refresh:hover {
    box-shadow: inset 10px 4px 10px #252525,
                inset 5px 5px 18px #4a4a4a;
}